name: Deployment To Forge With Notification
on:
  workflow_dispatch:
  push:
    branches:
      - deploy/forge
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Call Curl Endpoint
      uses: wei/curl@v1
      with:
        args: -X GET ${{ secrets.FORGE_DEPLOY_URL }}
  slackNotification:
    name: Slack Notification
    needs: deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Slack Notification
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_COLOR: ${{ job.status }}
        SLACK_ICON: ':robot:'
        SLACK_MESSAGE: '${{ github.actor }} Kicked off workflow action:rocket:'
        SLACK_TITLE: Pushed Release 
        SLACK_USERNAME: Git_Action_Bot
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
